<section class="main-stages" data-scene data-speed="1">
  <div class="section">
    <h2 class="main-stages__title section-title">Этапы работы</h2>
    <ul class="main-stages__list">
      <li class="main-stages__item">
        <h3 class="main-stages__item-title">Сбор информации</h3>
        <p class="main-stages__description">Это первый этап нашей работы, где мы знакомимся друг с другом, обсуждаем проект, его задачи и способы реализации. Мы готовимся к этой встрече, изучаем конкурентов, собираем референсы и приходим с презентацией нашего решения. </p>
      </li>
      <li class="main-stages__item">
        <h3 class="main-stages__item-title">схематизация продукта</h3>
        <p class="main-stages__description">Следующим этапом, мы систематизируем полученные данные. Для этого анализируем метрики, проводим исследования, оперируем полученными данными. В итоге у нас получается схема продукта, с понятным функицоналом и логикой.</p>
      </li>
      <li class="main-stages__item">
        <h3 class="main-stages__item-title">прототипирование</h3>
        <p class="main-stages__description">Мы воплощаем схему в прототип и анимируем его, чтобы можно было увидеть как продукт работает. На данном этапе завершается функциональное решение.</p>
      </li>
      <li class="main-stages__item">
        <h3 class="main-stages__item-title">Поиск концепта</h3>
        <p class="main-stages__description">Собираем референсы и предлагаем варианты визуального решения, чтобы создать дизайн, отвечающий задачам бизнеса и ожиданиям пользователей.</p>
      </li>
      <li class="main-stages__item">
        <h3 class="main-stages__item-title">дизайн</h3>
        <p class="main-stages__description">На данном этапе мы распространяем дизайн-концепт на все страницы и полностью отрисовываем продукт готовым к разработке.</p>
      </li>
      <li class="main-stages__item">
        <h3 class="main-stages__item-title">разработка</h3>
        <p class="main-stages__description">Наша фьордовская команда реализует сложные продукты сайты и приложения на IOS. Работая вместе у нас получается слаженная работа, и как итог, оперативный и качественный результат.</p>
      </li>
      <li class="main-stages__item">
        <h3 class="main-stages__item-title">Техническая поддержка</h3>
        <p class="main-stages__description">В результате работы мы всегда рады проводить тесты, осуществлять авторский надзор и техподдержку.</p>
      </li>
    </ul>
  </div>
</section>
