<section class="main-stages">
  <div class="main-stages__section section">
    <h2 class="main-stages__title section-title">Этапы работы</h2>
    <ul class="main-stages__list">
      <li class="main-stages__item">
        <h3 class="main-stages__item-title">сбор информации</h3>
        <p class="main-stages__description">Это первый этап нашей работы, где мы&nbsp;знакомимся друг с&nbsp;другом, обсуждаем проект, его задачи и&nbsp;способы реализации. Мы&nbsp;готовимся к&nbsp;этой встрече, изучаем конкурентов, собираем референсы и&nbsp;приходим с&nbsp;презентацией нашего решения.</p>
      </li>
      <li class="main-stages__item">
        <h3 class="main-stages__item-title">схематизация продукта</h3>
        <p class="main-stages__description">Следующим этапом, мы&nbsp;систематизируем полученные данные. Для этого анализируем метрики, проводим исследования, оперируем полученными данными. В&nbsp;итоге у&nbsp;нас получается схема продукта, с&nbsp;понятным функицоналом и&nbsp;логикой.</p>
      </li>
      <li class="main-stages__item">
        <h3 class="main-stages__item-title">прототипирование</h3>
        <p class="main-stages__description">Мы&nbsp;воплощаем схему в&nbsp;прототип и&nbsp;анимируем его, чтобы можно было увидеть как продукт работает. На&nbsp;данном этапе завершается функциональное решение.</p>
      </li>
      <li class="main-stages__item">
        <h3 class="main-stages__item-title">поиск концепта</h3>
        <p class="main-stages__description">Собираем референсы и&nbsp;предлагаем варианты визуального решения, чтобы создать дизайн, отвечающий задачам бизнеса и&nbsp;ожиданиям пользователей.</p>
      </li>
      <li class="main-stages__item">
        <h3 class="main-stages__item-title">дизайн</h3>
        <p class="main-stages__description">На&nbsp;данном этапе мы&nbsp;распространяем дизайн-концепт на&nbsp;все страницы и&nbsp;полностью отрисовываем продукт готовым к&nbsp;разработке.</p>
      </li>
      <li class="main-stages__item">
        <h3 class="main-stages__item-title">разработка</h3>
        <p class="main-stages__description">Наша фьордовская команда реализует сложные продукты сайты и&nbsp;приложения на&nbsp;IOS. Работая вместе у&nbsp;нас получается слаженная работа, и&nbsp;как итог, оперативный и&nbsp;качественный результат.</p>
      </li>
      <li class="main-stages__item">
        <h3 class="main-stages__item-title">техническая поддержка</h3>
        <p class="main-stages__description">В&nbsp;результате работы мы&nbsp;всегда рады проводить тесты, осуществлять авторский надзор и&nbsp;техподдержку.</p>
      </li>
    </ul>
  </div>
</section>
