<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.0.0/rellax.min.js"></script> -->
<!-- <script src="https://unpkg.com/rolly.js@0.2.1/dist/rolly.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.5.1/dist/simpleParallax.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.0/lottie.js"></script> -->
<script src="js/vendor.js"></script>
<script src="js/main.js"></script>
