.contacts__title {
  font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 154.5%;
/* or 28px */


color: #3C3E41;
}

.contacts__link {
  font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 154.5%;
/* or 28px */


color: #FFFFFF;
text-decoration: none;
transition: 0.2s;
&:hover {
  opacity: 0.7;
  transition: 0.2s;
}
}

.contacts__item {
  display: flex;
  flex-direction:column;
}

.contacts {
  background: $back;
}
.contacts__wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding-bottom: 300px;
}

.contacts__bottom {
  margin-top: 50px;
  display: flex;
  .contacts__item {
    margin-right: 400px;
  }
  }

.contacts__item--social {
  margin: 0;
  .contacts__link
  {
    background: url("../img/telegram.svg") no-repeat;
    display: block;
    width: 20px;
    height: 20px;
  }
}
