.footer__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 800px;
  background: url("../img/footer-background.svg") no-repeat 40% 22%;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  align-self: flex-end;
  display: flex;
  padding-left: 220px;
  padding-top: 408px;
}

.footer__item {
  max-width: 130px;
  margin-right: 11%;
}

.footer__link {
  font-style: normal;
font-weight: 500;
font-size: 19.5257px;
line-height: 154.5%;
text-decoration: none;
cursor: pointer;
transition: 0.2s;
&:hover {
  transition: 0.2s;
  opacity: 0.7;
}
}
