@keyframes scale {
  0% {
             transform: scale(1.0);
             -webkit-transform: scale(1.0);
         }
         100% {
             transform: scale(2.0);
             -webkit-transform: scale(2.0);
         }
}

.main-header {
    background: $back;
    position: relative;
}

.main-header__para {
  width:100%;
  background: url("../img/jstick-header.png") no-repeat;
  background-position: 50% 50%;
  position: absolute;
  z-index: 20;
  height: 100vh;
  //left: calc(50% - 103px);
  //top: calc(50% - 202px);
  left: 0;
  top: 0;
  @include retina {
    background: url("../img/jstick-header-2x.png") no-repeat;
  }
}
.main-header__wrapper {
  width: 100%;
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: none;
  max-width: 1440px;
  margin: 0 auto;
  background: url("../img/header-title.svg") no-repeat 15% 50%;
  padding-top: 32px;
  padding-left: 33px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-header__play-again {
  width: 131px;
  height: 41px;
  background: url("../img/play-again.svg") no-repeat;
  display: block;
  margin-left: 41.5%;
  margin-top: -17px;
}

.main-header__portfolio {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3em;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 185px;
  padding-bottom: 215px;
}

.main-header__sing {
  font-style: normal;
  font-weight: normal;
  font-size: 15.8491px;
  line-height: 19px;
  width: 40px;
  /* identical to box height */
  letter-spacing: 0.03em;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    transition: 0.2s;
    opacity: 0.7;
  }
}

.main-header__button {
  display: inline;
  position: absolute;
  right: 55px;
  top: 47px;
  z-index: 999;
}

.main-header__button a {
  text-decoration: none;
  transition: 0.2s;
  &:hover {
    transition: 0.2s;
    opacity: 0.7;
  }
}

.main-header__btn-open:after {
  position: absolute;
  content: "";
  width: 18px;
  height: 29px;
  background: url("../img/menu-open.svg") no-repeat;
}

.main-header__btn-open:hover:after {
  color: #34B484;
}

.main-header__btn-close:after {
  position: absolute;
  content: "";
  width: 18px;
  height: 17px;
  background: url("../img/menu-close.svg") no-repeat;
  left: -7px;
}

.main-header__btn-close {

  transition: 0.2s;
  &:hover {
    transition: 0.2s;
    opacity: 0.7;
  }
}
/*overlay*/
.main-header__overlay {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: 99;
  margin: 0 auto;
  left: 0;
  background: #141414;
}

.main-header__wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 32px;
  padding-left: 33px;
}

.main-header__wrap-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  padding-top: 50px;

  & li {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.main-header__menu-link {
  font-style: normal;
  font-weight: bold;
  font-size: 202.128px;
  line-height: 250px; /* identical to box height */
  text-decoration: none;
  text-align: center;
  animation: pulse 1s;
  color: #0D0D0D;
  transition: 0.5s;

  &:hover {
  //  animation: scale 1s linear alternate;
  //   -webkit-animation: scale 1s linear alternate;
    text-decoration: underline;
    transition: 0.5s;
  }
}


.main-header--jstick {
  background: #017BFF;
  color: #141414;
  & .main-header__wrapper {
      background: url("../img/header-title-jstick.svg") no-repeat 15% 50%;
  }
  & .main-header__btn-open:after {
    position: absolute;
    content: "";
    width: 18px;
    height: 29px;
    background: url("../img/menu-open-dark.svg") no-repeat;
  }

  & .main-header__overlay .main-header__sing {
    color: #E9E9E9;
  }

}

.main-header--ucandles {
  background: #FAFAFA;
  color: #141414;
  & .main-header__wrapper {
      background: url("../img/header-title-ucandles.svg") no-repeat 15% 50%;
  }
  & .main-header__btn-open:after {
    position: absolute;
    content: "";
    width: 18px;
    height: 29px;
    background: url("../img/menu-open-dark.svg") no-repeat;
  }

  & .main-header__overlay .main-header__sing {
    color: #E9E9E9;
  }

}

.main-header--lis {

  & .main-header__wrapper {
      background: url("../img/header-title-lis.svg") no-repeat 15% 50%;
  }


}

.main-header--app {
  background: #222431;
  color: #E9E9E9;
  & .main-header__wrapper {
      background: url("../img/header-title-app.svg") no-repeat 15% 50%;
  }


  & .main-header__overlay .main-header__sing {
    color: #E9E9E9;
  }

}

.main-header--contacts {
    & .main-header__wrapper {
      background: url("../img/header-title-contacts.svg") no-repeat 15% 50%;
  }


}
