.project-beautiful {
  display: flex;
  //min-height: 100vh;
  background-color: #EEE3D8;
  & img {
    margin: 0 auto;
  }

}

.project-beautiful__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
