.project-footer {
  padding: 0 100px;

  @media(max-width: 1024px) {
    padding: 0 70px;
  }

  @media(max-width: 768px) {
    padding: 0 53px;
  }

  @media(max-width: 767px) {
    padding: 0 16px;
  }
}
.project-footer__wrapper {
  padding-top: 20px;
  padding-bottom: 50px;
  max-width: 1654px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media(max-width: 1440px) {
    padding-bottom: 36px;
  }

  @media(max-width: 1024px) {
    padding-top: 12px;
    padding-bottom: 30px;
  }

  & p {
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #E9E9E9;

    @media(max-width: 1024px) {
      font-size: 11.3778px;
      line-height: 17px;
    }

    @media(max-width: 768px) {
      font-size: 8.53333px;
      line-height: 13px;
    }
  }
  & a {
    text-decoration: none;
    transition: 0.2s;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;

    @media(max-width: 1024px) {
      font-size: 11.3778px;
      line-height: 17px;
    }

    @media(max-width: 768px) {
      font-size: 8.53333px;
      line-height: 13px;
    }

    &:hover {
      transition: 0.2s;
      opacity: 0.7;
    }
  }
}

.project-footer {
    background: $back;
}
