html {
  font-family: $font;
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  // outline: 1px solid blue;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 138%;
cursor:url("../img/cursor.svg"), auto;
  color: $text;
}

a {
  color: inherit;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.rub {
  font-family: 'ASLRubl';
}

.app--main {
  background: #141414;
}

.main__cursor {
  display: block;
   width: 30px;
   height: 30px;
   position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%);
   border-radius: 50%;
   background: transparent;
   pointer-events: none;
   z-index: 111;
   border: 2px solid #FFFFFF;
   transition: all 0.2s ease-out;
   animation: moveCursor1 .5s infinite alternate;
  //cursor:url("../img/cursor.svg"), auto;

}
// .expand {
//   animation: moveCursor2 .5s forwards;
// }
//
@keyframes moveCursor1 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.8);
    }
}
//
// @keyframes moveCursor2 {
//     0% {
//         transform: scale(1);
//     }
//
//     50% {
//         transform: scale(2);
//     }
//
//     100% {
//         transform: scale(1);
//         opacity: 0;
//     }
// }

@media(max-width: 767px) {
  body {
    font-size: 14px;
  }
}
