$black: #000000;
$deepblack: #0f0f0f;
$text: #E9E9E9;
$text-content: #626262;
$back: #141414;
$dark-grey: #3c3e41;
$grey: #73788a;
$white: #ffffff;
$light-grey: #f5f6fa;
$blue: #017bff;


$font:  "SF Pro Display", "Arial", sans-serif;
